/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: sans-serif;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}

a:visited{
  color: none;
}

header {
  text-align: right;
  font-size: .5em;
  padding: .5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  margin-right: 1em;
  background-color: #2ABB9B;
}

#sign-up{
  text-align: center;
  background-color: #E4F1FE;
  height: 100%;
  width: 100%;
}

#log-in{
  text-align: center;
  background-color: #A2DED0;
  height: 100%;
  width: 100%;
}

textarea{
  resize: none;
  width: 40%;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

input{
  width: 40%;
  height: 30px;
  border: 2px solid #6C7A89;
  border-radius: 5px;
}

#post-recipe{
  text-align: center;
  background-color: #eeeeee;
}

#post-recipe-title{
  padding-left: 3%;
}

#logo{
  float: left;
  font-weight: 600;
  font-size: 2em;
  font-family: arial black;
  padding-left: 3%;
}

#logo-pic{
  padding-left: 3%;
  width: 7%;
  float: left;
}

#nav li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 1em;
}

#recipe-input{
 padding-right: 360px;
}

#recipe-id{
  background-color: #FFECDB;
}

button{
  background-color: #F89406;
}
